@model ProductsAspNetCore.Models.Product

@{
    ViewData["Title"]="Lista produktów";
}

<h2>Dodawanie nowego produktu</h2>

<form asp-controller="Products" asp-action="Create" method="POST" class="form-horizontal">

    <div class="form-group">
        <label class="control-label col-sm-2" for="Name">Nazwa:</label> 
        <div class="col-sm-10">
            <input asp-for="Name" />
        </div>
    </div>

    <div class="form-group">
    <label class="control-label col-sm-2" for="EAN">Kod kreskowy:</label> 
        <div class="col-sm-10">
            <input asp-for="EAN" />
        </div>
    </div>

    <div class="form-group">
    <label class="control-label col-sm-2" for="Price">Cena jednostkowa:</label> 
        <div class="col-sm-10">
            <input asp-for="Price" />
        </div>
    </div>

    <div class="form-group">
    <label class="control-label col-sm-2" for="Unit">Jednostka:</label> 
        <div class="col-sm-10">
            <input asp-for="Unit" />
        </div>
    </div>

    <div class="form-group">
    <label class="control-label col-sm-2" for="Availability">Stan magazynowy:</label> 
        <div class="col-sm-10">
            <input asp-for="Availability" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
               <input type="submit" class="btn btn-primary" value="Dodaj produkt" />
        </div>
    </div>

</form>